body {
  font-family: "News Cycle", sans-serif;
  letter-spacing: 1px;
  text-align: center;
}
nav {
  background: #171a21;
  padding: 15px;
  text-align: left;
}
nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #617073;
}
nav a:hover,
.activeClassName {
  color: white !important;
}
